<p id="notice"><%= notice %></p>
<div class="col-md-12">
  <h2><i class="glyphicon glyphicon-fire"></i>Curated Links <span class="badge"><%= @links.size %></span></a></h2>
  <% @links.each do |link| %>
      <%= link.title %>

      <small><a href= "<%= link.url %>"><%= link.url %> </small>
      <div class="pull-right">
        <small><%= link_to 'Show', link %></small>
        <%= link_to edit_link_path(link), class: "icon-link" do %>
          <small><i class="glyphicon glyphicon-cog"></i></small>
        <% end %>
        
        <small><i class="glyphicon glyphicon-plus-sign"></i></small>
        <span class="label label-warning"><%= link_to 'Delete', link_path(:id => link.id), :method => :delete %></span>
        <small><i class="glyphicon glyphicon-trash"></i></small>
        
      </div>
    </h3>

    <ul class="list-group">
      <li class="list-group-item"> <%= link.content %></li>
      <p class="Date">
        Submitted <%= time_ago_in_words(link.created_at) %>
      </p>
      <small><p>Curated by: </p></small>
    </ul>
  <% end %>


</div>


<%= link_to 'New Link', new_link_path %>
