<p id="notice"><%= notice %></p>
<div class="row">
  <h2><i class="glyphicon glyphicon-fire"></i>Curated Links <span class="success badge"><%= @links.size %></span></a></h2>
  <%= link_to 'New Link', new_link_path %>
   
  <% @links.each do |link| %>
  <div class="callout">
  <h5><%= link.title %></h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque rem odio tempora nemo fugit quisquam ex aut cum, recusandae accusamus maxime, ad ullam perspiciatis, impedit illum rerum. Et, accusamus.</p>
   <a href= "<%= link.url %>"><%= link.url %></a>

   <small><%= link_to 'Show', link %></small>
    <%= link_to edit_link_path(link), class: "icon-link" do %>
    <small><i class="glyphicon glyphicon-cog"></i></small>
    <% end %>
    <button class="alert hollow tiny button"><%= link_to 'Delete', link_path(:id => link.id), :method => :delete %></button>
    <p class="Date">
            Submitted <%= time_ago_in_words(link.created_at) %>
    </p>
    <small><p>Curated by: </p></small>
        
  </div>
  <% end %>
  

</div>


