
<div class="row">
  <div class="small-6 columns">
    <h2>Create an Account</h2>

    <%= simple_form_for @account do |f| %>
      <%= f.fields_for :owner do |o| %>
        <%= o.input :name %>
        <%= o.input :email %>
        <%= o.input :password %>
        <%= o.input :password_confirmation %>
      <% end %>

      <%= f.input :subdomain do %>
        <div class="small-9 columns float-left">
          <%= f.input_field :subdomain, class: 'form-control' %>
        </div>
        <span class="helper float-right">.newslettersaas.dev</span>
        
      <% end %>
      
     
      <%= f.button :submit, class: 'alert button float-left' %>
    <% end %>
    </div>
  </div>
</div>


